main, body{
  overflow-x: hidden;
}
body {
  position: relative;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-image: url('../src/assets/Fotos/background.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
}
main li {
  width: 30%;
  margin-bottom: 40px;
}
main h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
main button {
  margin-top: 10px;
  background-color: rgb(4, 4, 73);
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main button:hover {
  background-color: #333;
  color: #fff;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  main li {
    width: 45%;
  }
}
.imgprod{
  width: 80%;
  height: 70%;
}
.producto-imagen {
  width: 80px;
  height: 80px;
}

.text-center {
  text-align: center;
}

.eliminar-btn {
  padding: 5px 10px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  cursor: pointer;
}

.vaciar-carrito-btn {
  padding: 10px 20px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  cursor: pointer;
}

.carrito-total {
  font-weight: bold;
  text-align: right;
}
.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(4, 4, 73);
  color: #fff;
}
